body {padding:0pt 10pt 0 10pt; color:#222; background:#fff}
h1 {text-align:center;margin-bottom:2pt}
h1 .subtitle {display:inline; font-size:x-large; color:gray}
h2 .download {font-size: small}
.navbar {font-size:medium; color:gray;text-align:center;margin-bottom:5pt}
.navbar a {}
p, pre {line-height:1.25em; margin-top:0}
dfn {font-weight:bold; font-style:normal}
a {color:#888}
a:hover {color:blue}
samp {color:blue}
kbd {cursor:pointer}
kbd:hover {color:#080}
.docs  {padding-right:5em}
#header p {margin:0pt 20pt 0pt 20pt; padding-top:5pt}
#intro {padding-top:10pt;position:relative}
#header pre.example {margin-left: 4em}
#footer {color:#888; margin-top:2em; padding-top:2px; border-top:1px solid; font-size:small; text-align:center}
#intro {margin-bottom:5px}
#intro p {padding: 5px}

#messages {position:fixed; right:5px; bottom:5px; border:1px solid transparent; z-index:10}
#messages {background:white;border:1px solid gray;}
#messages.left {left:5px; right:inherit}
#messages .left, #messages .right {position:absolute; top:1px; cursor:pointer; color:gray; font-size:large; border:1px solid white; padding-left:2px; padding-right:2px; text-decoration:none;}
#messages .left {display:block; left:3px}
#messages .right {display:none; right:3px}
#messages .left:hover, #messages .right:hover {color:green; background:#8f8; border:1px solid green}
#messages.left .left {display:none}
#messages.left .right {display:block}
#messages td {vertical-align:top}
#messages th {padding-left:20px; padding-right:20px}
#messages .error {color:red}
#messages .src {color:blue; cursor:pointer}
#messages .src:hover {opacity:1; background:#cfc}
#messages .src:hover, #messages .selected {color:green}

table.docs {background:#f9f9f9}

.runnable {color:blue;border:2px solid white}
.runnable.selected {color:green; background:#dfd}
.runnable:hover {cursor:pointer; background:#8f8; border:2px solid green}
.startup-instructions {background:yellow}

.timestamp {font-variant:small-caps; font-size:small; color:gray}

.runnable, #messages,
#messages .left:hover, #messages .right:hover
{-moz-border-radius:5px; -webkit-border-radius:5px}
